*/Middlewares/
*/Drivers/
*.ioc

*/build/
*/Debug/
*/Release/
*/obj/

/.settings/
/.cproject
/.project
/.mxproject

*.elf
*.hex
*.bin
*.map
*.lst
*.o
*.d
*.su
*.cyclo


*.uvguix.*
*.uvoptx
*.uvprojx
*.eww
*.ewp
*.ewt

*.launch
