**/Middlewares/
**/Drivers/
**.ioc

**/build/
**/Debug/
**/Release/
**/obj/

**/.settings/

**/*.elf
**/*.hex
**/*.bin
**/*.map
**/*.lst
**/*.o
**/*.d
**/*.su
**/*.cyclo


**/*.uvguix.*
**/*.uvoptx
**/*.uvprojx
**/*.eww
**/*.ewp
**/*.ewt

